[submodule "z8CEK6uP25BmnnVk"]
	path = z8CEK6uP25BmnnVk
	url = https://github.com/Projektkurs/z8CEK6uP25BmnnVk
[submodule "0acgBFwPwfOtMDOK"]
	path = 0acgBFwPwfOtMDOK
	url = https://github.com/Projektkurs/0acgBFwPwfOtMDOK
